<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table id="taskstable" data-classes="table table-striped"
    data-side-pagination="server"
    data-url='/tasks.json'
    data-toggle="taskstable"
    data-show-columns="true"
    data-detail-formatter="detailFormatter"
    data-pagination="true"
    data-show-pagination-switch="true"
    data-page-list="[10, 15, 30, 50, 100, 200]"
    data-search="true"
    data-show-toggle="true"
    data-key-events="true"
    data-show-export="true"
    data-toolbar="#toolbar"
    data-row-style="rowStyle"
    >
    <thead>
      <tr>
        <th data-field="login" data-sortable="true" data-align="center">Логин</th>
        <th data-field="password" data-sortable="true">Пароль</th>
        <th data-field="employer" data-sortable="true">Работодатель</th>
        <th data-field="location" data-sortable="true">Место</th>
        <th data-field="story" data-sortable="true">Стори</th>
        <th data-field="start_date">Дата начала работы</th>
        <th data-field="aasm_state" data-sortable="true" data-align="center">Состояние</th>
        <th data-field="actionlinks" class="col-md-1" data-align="left">Действия</th>
      </tr>
    </thead>
  </table>

  <script>
      var $table = $('#taskstable');

      $(function () {
          $table.bootstrapTable();

          start_task = function(taskId){
            $.ajax({
                url: '/tasks/' + taskId + '/start.json',
                type: 'PUT',
                headers: {
                      'Accept' : "application/json;",
                      'Content-Type': "application/json;"
                    },
                data: JSON.stringify({})
            });
          }
      });
  </script>

<%= link_to 'New Task', new_task_path %>
